* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.Login{
    background: -moz-linear-gradient(to right,#cff,#eff);
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    min-height: 80vh;
    position:relative;
    overflow: hidden;
    transition: background 1ms ease;
}
.LoginContainer{
    padding: 30px;
    background: linear-gradient(to top right, #00247d, #ffffff, #cf142b);
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(6px);
    width: 30%;

}
.input-field{
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333333;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
}
.input-field:focus {
    border-color: #000000; /* Bright green focus */
}
.login-btn{
    width: 100%;
    padding: 10px;
    background-color: #00247d; /* British navy blue */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.html {
    scroll-behavior: smooth;
}
@keyframes fadeZoomIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}
@media (max-width: 768px) {
    .login-form-container {
        padding: 30px;
        margin: 0 20px;
    }
}
.success-msg,
.error-msg {
    position: absolute;
    top: 40px; /* Distance from top of .Login */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    animation: fadeZoomIn 0.8s ease-in-out;
}

.success-msg {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error-msg {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
